@import '../../../../styles/global.scss';

.selectWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-gray-200;
    padding: 10px 0;
    border-radius: 5px;

}

.label {
    padding-left: 40px;
    color: $color-gray-600;
}

.selected {
    cursor: pointer;
    position: absolute;
    padding: 10px 0;
    padding-right: 40px;
    border-radius: 6px;
    align-items: center;
    width: 100%;
    text-align: right;
}

.arrow {
    margin-left: 8px;
    font-size: 12px;
}

.options {
    background: $color-gray-200;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    /* 스크롤바 커스텀 스타일 */
    scrollbar-width: thin;
    /* Firefox */
    // scrollbar-color: #bbb #f0f0f0;
    /* Firefox */

    /* 크롬, 엣지, 사파리 */
    .options::-webkit-scrollbar {
        width: 8px;
    }

    .options::-webkit-scrollbar-track {
        // background: #f0f0f0;
        border-radius: 4px;
    }

    .options::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 4px;
        // border: 2px solid #f0f0f0;
    }

    .options::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }
}

.option {
    padding: 10px 42px;
    cursor: pointer;
    text-align: right;
}

.option:hover {
    background-color: #f0f0f0;
}

