@import '../../../styles/global.scss';

.searchArea{
    display: flex;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}
 .mapWrap{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
 }