@import "../../../../styles/base/_variables";
@import "../../../../styles/base/_mixins";

.searchWrap {
  border-radius: 12px;

  .dateWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background-color: $color-gray-100;
    padding: 0 15px;

    .totalHoure {
      font-size: $font-sm;
      color: $color-gray-500;
    }

    .date {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    svg {
      color: $color-gray-700;
    }

    p {
      color: $color-gray-700;
    }

    .rentalDate {
      display: flex;
      align-items: baseline;
      border-radius: 8px;
      padding: 10px;

      .selectDate {
        font-weight: bold;
      }

    }
  }

  .rentalState {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 52px;
    padding: 0 15px;
     background-color: $color-gray-100;
    border: 1px solid $color-gray-200;
    align-items: center;
    margin-bottom: 15px;
    &::placeholder {
      color: $color-gray-400;
    }

    svg{
      color: $color-gray-700;
    }

    .inputState {
      width: 100%;
      padding: 0 15px;
      font-size: 16px;
      box-sizing: border-box;
      outline: none;
      border: none;
      background: none;
    }

    &:focus {
      outline: none;
    }
  }

  .searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: $primary-color;
    border-radius: 5px;
  }
}