@import './base/reset';
@import './base/variables';
@import './base/layout';
@import './base/mixins';
@import './base/button';
@import './base/media';

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  padding: 0;
    // ✅ 모바일 화면일 때
  @include respond-max(mobile-m) {
    background-color: $color-white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0; // 양쪽 여백
  width: 100%;
  /* footer의 높이 */
  @include respond-max(mobile-m) {
    display: block;
    position: relative;
  }
}