@import '../../../styles/global.scss';

.container {
    .searchCont {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 10px;
        background-color: $color-white;
    }
    
    section > div{
        padding: 20px;
        background-color: $color-white;
        border-radius: 10px;
    }
}

.searchCont {
    position: relative;
    border-radius: 20px 20px 0 0;
    width: 100%;
    top: -20px;


    .search {
        .searchTitle {
            display: block;
            font-size: $font-xl;

            svg {
                padding-right: 10px;
            }

            span {
                text-decoration: underline;
                color: $primary-color-text;
                font-weight: bold;
                font-size: 32px;
            }
        }

        .searchText {
            padding: 10px 0;
            margin-bottom: 60px;
            font-size: $font-sm;
            color: $color-gray-600;
        }

        .searchBtn {
            padding: 14px 32px;
            margin: 14px 0;
            background-color: $primary-color;
            border-radius: 50px;
            font-size: 18px;
            font-weight: bold;
            color: $color-gray-900;
            text-align: right;

            svg {
                padding-left: 10px;

            }
        }
    }

    .shortcut {
        width: 100%;
        padding: 0 20px;
        border-radius: 5px;
        left: 0;
        background-color: $primary-color-opacity;


        ul {
            display: flex;
            justify-content: space-around;

            .list {
                padding: 12px 0;
                width: 100%;
                text-align: center;
                font-size: $font-sm;
                cursor: pointer;
                list-style: none;


                svg {
                    margin-right: 5px;
                }
            }

        }
    }
}


.mainCont {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    top: -20px;

    .event {

        .banner {
            background-color: $color-gray-500;
            height: 150px;
            border-radius: 10px;
        }
    }

    .boon {
        h3 {
            margin-bottom: 10px;
        }

        .bannerCont {
            position: relative;
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}