  @import '../../../../styles/global.scss';

  .dateWrap {
    display: flex;
    align-items: center; // 세로 중앙 정렬
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px 15px;
    background-color: $color-gray-200;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $color-gray-300;


    .date {
      display: flex;
      align-items: center;

      .rentalDate {
        margin: 0 10px;
      }
    }

    input{
      cursor: pointer;
      border: none;
      background: none;
      font-size: $font-md;
      outline: none;
      flex: 1;
    }
    .totalHoure{
       margin-left: auto;
       color: $color-gray-600;
    }
  }

  .inputState {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: $color-gray-200;
    border-radius: 0 0 5px 5px;

    .searchInput {
      width: 100%;
      border: none;
      outline: none;
      margin-left: 10px;
      font-size: 16px;
      background: none;
    }
  }
