@import '../../../styles/global.scss';

.parkingItem {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }

  .parkingName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .information {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .info {
      display: grid;
      grid-template-columns: 20px auto; // 아이콘, 텍스트
      grid-row-gap: 2px; // 각 줄 간격
      align-items: center;
      font-size: 14px;
      color: #555;
      line-height: 20px;

      svg {
        margin-right: 5px;
      }
    }
  }

  .addr {
    font-size: 14px;
    color: #777;

    span {
      font-weight: bold;
      margin-right: 5px;
    }
  }


  .viewCarsButton {
    width: 100%;
    padding: 12px 0;
    margin-top: 15px;
    background: $primary-color;
    color: $color-gray-900;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;

    &:hover {
      background-color:  $primary-hover;
      /* hover 시 살짝 어두운 색 */

    }

    &:active {
      transform: scale(0.99);
      /* click 시 살짝 작아지는 효과 */

    }
  }
}

// .selectParking {
//   height: 100%;

//   .empty {
//     text-align: center;
//     padding: 20px;
//     color: #888;

//     svg {
//       font-size: 24px;
//       margin-bottom: 10px;
//     }
//   }

//   .collapsed {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     height: 100%;

//   }
// }