@import '../../styles/global.scss';

section{
  // padding margin
  padding: 1.5rem;
  margin-top: 20px;
  background-color: $color-white;
  border-radius: 10px;
  border-color: $border-color;
}

.conditions{

}

.info{
  display: flex;
  .carImage{

  }
  .rentalTime{
    display: flex;
    
  }
  
}