@import '../../../../styles/global.scss';

// src/components/Gnb/gnb.scss
.header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  z-index: 999;
  overflow: hidden; // 배경 잘림 방지
  // transition: background-color 0.3s ease, color 0.3s ease;

    // 배경을 위한 가상 요소
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    transform: translateY(-100%); // 위로 숨김
    transition: transform 0.4s ease, opacity 0.8s ease;
    z-index: -1; // 텍스트 위로 덮지 않게 뒤로 보냄
    opacity: 0;
  }

  .centerMenu ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .centerMenu li a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    color: $color-white;
  }

  .centerMenu li a:hover {
    color: $text-muted;
  }
}

.headerBlack {
  &::before {
    transform: translateY(0); // 내려옴
    opacity: 1;
  }

  .centerMenu li a,
  .rightMenu li a, .rightMenu ul .userName {
    color: $text-color;
  }
}

// .headerBlack {
//   background-color: $color-white;

//   .centerMenu li a {
//     color: $text-color;
//   }

//   .rightMenu li a {
//     color: $text-color;
//     transition: color 0.3s ease;
//   }
// }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.leftCenterGroup {
  display: flex;
  flex: 1;
  align-items: center;
}

.leftMenu {
  margin-right: 2rem;
}


.rightMenu ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightMenu ul .userName{
  color: $color-white;
}

.rightMenu li a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
  color: $color-white;
}

.rightMenu li .signUp a {
  color: $text-color;
}