@import '../../../../styles/global.scss';

// src/components/Gnb/gnb.scss
.header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  z-index: 999;
  transition: 0.3s;

  .centerMenu ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .centerMenu li a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    color: $color-white;
  }

  .centerMenu li a:hover {
    color: $text-muted;
  }
}

.headerBlack {
  background: $color-white;

  .centerMenu li a {
    color: $text-color;
  }

  .rightMenu li a {
    color: $text-color;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.leftCenterGroup {
  display: flex;
  flex: 1;
  align-items: center;
}

.leftMenu {
  margin-right: 2rem;
}


.rightMenu ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightMenu li a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
  color: $color-white;
}

.rightMenu li .signUp a {
  color: $text-color;
}